$primary: 'blue-grey';
$font-size: 9px;

@import 'ember-paper';

.loading-container {
  text-align: center;

  md-progress-circular {
    display: inline-block;
  }
}

.site-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  md-content {
    background-color: paper-color('grey', '100');
    overflow-x: hidden;
    flex-grow: 1;
  }

  .md-subheader {
    background-color: paper-color('grey', '100');
  }

  .chart-list-item.selected {
    background-color: paper-color('blue-grey', '100');
  }

  .github-icon {
    width: 24px;
    height: 24px;
    margin-right: 32px;

    fill: paper-color('grey', '600');
    fill: var(--foreground-2);
  }
}

.site-content-container {
  background-color: white;

  height: 100vh;

  .charts-container {
    padding: $baseline-grid;
    overflow-y: auto;

    .chart-container {
      position: relative;
      width: 100%;
      height: 100%;

      md-progress-circular {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
      }

      .error {
        position: absolute;
        top: 32px;
        left: 0;
        right: 0;

        text-align: center;
        font-style: italic;
        font-size: 80%;
        opacity: 0.5;
      }

      h5 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        margin: 0;

        text-align: center;

        a:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

svg.toolbar-icon {
  width: 32px;
  height: 32px;
  margin-right: $baseline-grid;

  use {
    fill: rgba(255, 255, 255, 0.87);
    fill: RGB(var(--primary-500-contrast));
  }
}

svg.loading-icon {
  width: 96px;
  height: 96px;

  use {
    fill: rgba(63, 81, 181, 1);
    fill: RGB(var(--primary-500));
  }
}

md-toolbar.md-default-theme.main-toolbar {
  background-color: paper-color('grey', '100');
  color: $dark-contrast-color;

  @media (min-width: 600px) and (max-width: 959px) {
    h2 {
      font-size: 12pt;
    }

    md-icon {
      font-size: 18pt;
      line-height: 18pt;
    }
  }

  @media (max-width: 599px) {
    h2 {
      font-size: 10pt;
    }

    md-icon {
      font-size: 12pt;
      line-height: 12pt;
    }
  }

  .muted {
    opacity: 0.5;
  }

  md-icon {
    color: $dark-contrast-color;
  }

  .zone-breadcrumb a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  md-input-container {
    padding: initial;
    vertical-align: initial;
  }

  md-select-value {
    border: none !important;
  }
}

.legend {
  padding: $baseline-grid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0 2rem;
}

.legend__swatch {
  display: inline-block;
  vertical-align: middle;
}

.legend__label {
  font-size: 0.8rem;
}

.hidden-link {
  display: none;
}
