/* $font-size: 8px; */

$baseline-grid: 6px;
$app-bar-height: 48px;

@import 'ember-paper';

.loading-container {
  text-align: center;
}

.loading-container md-progress-circular {
  display: inline-block;
}

.site-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-nav-container md-content {
  overflow-x: hidden;
}

.site-nav-container md-input-container {
  margin-bottom: 0;
}

.site-nav-container md-list-item .align-with-input {
  margin-top: 18px;
}

.site-nav-container .md-errors-spacer {
  display: none;
}

md-fab-speed-dial {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.md-disabled {
  color: rgba(0, 0, 0, 0.38);
}

.region-option-level-1 {
  padding-left: 1rem;
}

.region-option-level-2 {
  padding-left: 2rem;
}

.md-toast-text a {
  color: paper-color($primary, '100');
}

.md-dialog-content a {
  color: paper-color($primary, '300');
}
