<p>
  COVID-19 data comes from the <ExtLink @href="//systems.jhu.edu/">Center for Systems Science and Engineering (CSSE)</ExtLink> at Johns Hopkins University.  It is <ExtLink @href="//github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">released openly</ExtLink> and updated daily.  They used it to build a <ExtLink @href="//gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">very nice dashboard</ExtLink>, please also check it out.
  Please note that this data uses officially reported figures, and is only indicative of the actual situation.  It comes from various organizations and countries, and may use different counting methods. Actual figures are most likely higher.
</p>
<p>
  Detailed data for France is gathered from multiple sources published on the <ExtLink @href="//data.gouv.fr">data.gouv.fr</ExtLink> platform: <ExtLink @href="//www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/">hospital data</ExtLink> from <ExtLink @href="//www.santepubliquefrance.fr/">Santé Publique France</ExtLink>, <ExtLink @href="//www.data.gouv.fr/fr/datasets/liste-des-departements-francais-metropolitains-doutre-mer-et-les-com-ainsi-que-leurs-prefectures/">department/region hierarchy</ExtLink> from César Lizurey.
</p>
<p>
  The app uses the latest data available at the time of loading. Just refresh the page to update.
</p>