<p>
  COVID-19 data comes from the <a target="_blank" rel="noopener noreferrer" href="//systems.jhu.edu/">Center for Systems Science and Engineering (CSSE)</a> at Johns Hopkins University.  It is <a target="_blank" rel="noopener noreferrer" href="//github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">released openly</a> and updated daily.  They used it to build a <a target="_blank" rel="noopener noreferrer" href="//gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">very nice dashboard</a>, please also check it out.
  Please note that this data uses officially reported figures, and is only indicative of the actual situation.  It comes from various organizations and countries, and may use different counting methods. Actual figures are most likely higher.
</p>
<p>
  Population data comes from <a target="_blank" rel="noopener noreferrer" href="//data.worldbank.org/indicator/SP.POP.TOTL">The World Bank</a>, except for US states population which is included in CESE data.
</p>
<p>
  The app uses the latest data available at the time of loading. Just refresh the page to update.
</p>